body {
  background: #eaf4f4
}
.success, .error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}

.error {
  background: red;
}
#submit-btn {
  background-color: #cce3de;
}
.fa-solid {
  color: #a4c3b2
}